openapi: 3.1.0
info:
  title: Sistema Inteligente de Reclutamiento (SIR) - Nacional Seguros
  description: |
    Contrato oficial y especificación de APIs para la Fase 1 del Sistema Inteligente de Reclutamiento de Nacional Seguros.
    Esta API sirve como el contrato formal entre el Frontend en Angular 17+, el Backend en .NET 8, los Workflows de n8n y los motores de IA.
    
    ### Principios Clave:
    * **Trazabilidad:** Inyección y propagación obligatoria del encabezado `X-Correlation-ID`.
    * **Idempotencia:** Endpoints de callback protegidos mediante `IdempotencyFilter`.
    * **Seguridad:** Autenticación híbrida Local/Directorio Corporativo y Rotación de Refresh Tokens (RTR).
    * **Auditoría:** Registro automático de modificaciones de datos en `AuditLog` y transiciones en `StateHistory`.
  version: 1.0.0
servers:
  - url: https://api.nacionalseguros.com.bo
    description: Servidor de Producción (Cifrado HTTPS TLS 1.3)
  - url: https://qa-api.nacionalseguros.com.bo
    description: Servidor de Pruebas y Aseguramiento de Calidad (QA)
  - url: http://localhost:5000
    description: Servidor de Desarrollo Local
paths:
  # ==========================================
  # DOMINIO: AUTENTICACIÓN
  # ==========================================
  /api/v1/auth/login:
    post:
      summary: Login de Usuario (Híbrido Directorio Corporativo / Local)
      description: |
        Autentica credenciales locales o delega al servicio de directorio corporativo. 
        Si el usuario es del directorio corporativo, el backend valida el token externo, aprovisiona si es necesario y emite un JWT local con claims de roles de la base de datos.
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDto'
      responses:
        '200':
          description: Autenticación exitosa. Retorna el token JWT de acceso y configura el Refresh Token.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/auth/logout:
    post:
      summary: Cierre de Sesión del Usuario
      description: Invalida el Refresh Token de un solo uso activo en la tabla `Sesion`.
      tags:
        - Autenticación
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Cierre de sesión completado.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/auth/refresh:
    post:
      summary: Renovación de Token de Acceso (RTR - Refresh Token Rotation)
      description: |
        Invalida el Refresh Token enviado (`Activa = 0`) y emite un nuevo JWT y un nuevo Refresh Token.
        Si se detecta un intento de reuso de un token obsoleto, se anulan todas las sesiones activas del usuario.
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequestDto'
      responses:
        '200':
          description: Token renovado con éxito.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/auth/mfa:
    post:
      summary: Verificación de Segundo Factor de Autenticación (MFA)
      description: Valida el código TOTP enviado al dispositivo móvil o correo del usuario para validar el inicio de sesión.
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaVerifyRequestDto'
      responses:
        '200':
          description: Segundo factor verificado con éxito.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/v1/auth/change-password:
    post:
      summary: Cambio de Contraseña de Usuario Local
      description: Permite al usuario cambiar su clave. Bloqueado para usuarios del directorio corporativo.
      tags:
        - Autenticación
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequestDto'
      responses:
        '200':
          description: Contraseña cambiada con éxito.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==========================================
  # DOMINIO: USUARIOS Y SEGURIDAD (RBAC)
  # ==========================================
  /api/v1/usuarios:
    get:
      summary: Listar Usuarios Registrados
      description: Obtiene la lista de usuarios. Soporta filtros de búsqueda, paginación y ordenación.
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200':
          description: Lista de usuarios obtenida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedUsuariosResponseDto'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      summary: Crear Nuevo Usuario
      description: Registra un usuario local o pre-aprovisiona un usuario corporativo del directorio de identidad.
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioCreateDto'
      responses:
        '201':
          description: Usuario creado con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponseDto'
        '400':
          $ref: '#/components/responses/BadRequestError'

  /api/v1/usuarios/{id}:
    get:
      summary: Consultar Detalles de un Usuario
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Usuario encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponseDto'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      summary: Actualizar Datos de un Usuario
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioUpdateDto'
      responses:
        '200':
          description: Usuario actualizado con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioResponseDto'
    delete:
      summary: Inactivar Usuario (Soft Delete)
      description: Marca IsDeleted = 1 en base de datos.
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Usuario inactivado con éxito.

  /api/v1/usuarios/{id}/roles:
    get:
      summary: Consultar Roles Asignados a un Usuario
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Roles del usuario obtenidos.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolResponseDto'
    put:
      summary: Asignar Roles a un Usuario (RBAC)
      description: Sobrescribe los roles del usuario. Genera auditoría de seguridad.
      tags:
        - Usuarios
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rolIds
              properties:
                rolIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Roles actualizados.

  # ==========================================
  # DOMINIO: SOLICITUDES DE PERSONAL
  # ==========================================
  /api/v1/solicitudes:
    post:
      summary: Crear Solicitud de Personal (Líder Solicitante)
      description: Inicia el flujo en estado 'Borrador' o 'PendienteAprobacion'.
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitudCreateDto'
      responses:
        '201':
          description: Solicitud creada. Escribe registro en StateHistory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitudResponseDto'
    get:
      summary: Listar Solicitudes con Filtros
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: estadoId
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Lista de solicitudes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedSolicitudesResponseDto'

  /api/v1/solicitudes/{id}:
    get:
      summary: Obtener Detalles de una Solicitud
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Solicitud encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitudResponseDto'
    put:
      summary: Modificar una Solicitud (Solo en Borrador / Observada)
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitudUpdateDto'
      responses:
        '200':
          description: Solicitud modificada.

  /api/v1/solicitudes/{id}/enviar:
    post:
      summary: Enviar Solicitud de Personal a RRHH
      description: Valida completitud de campos críticos y transita la solicitud a 'SOL-ENV' (Enviada a RRHH).
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Solicitud enviada a RRHH y registrada en StateHistory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitudResponseDto'

  /api/v1/solicitudes/{id}/aprobar:
    post:
      summary: Aprobar Solicitud de Personal (Decisor / RRHH)
      description: Transita la solicitud a 'Aprobada'. Dispara el workflow de creación de perfil asíncrono.
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                observaciones:
                  type: string
      responses:
        '200':
          description: Solicitud aprobada y registrada en StateHistory.

  /api/v1/solicitudes/{id}/rechazar:
    post:
      summary: Rechazar Solicitud de Personal
      description: Transita la solicitud a 'Rechazada' de manera definitiva. Requiere comentario.
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - justificacion
              properties:
                justificacion:
                  type: string
                  minLength: 10
      responses:
        '200':
          description: Solicitud rechazada.

  /api/v1/solicitudes/{id}/historial:
    get:
      summary: Consultar Historial de Estados de una Solicitud
      description: Retorna la bitácora completa de transiciones de estados del requerimiento.
      tags:
        - Solicitudes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Historial de transiciones obtenido.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StateHistoryResponseDto'

  # ==========================================
  # DOMINIO: PERFILES (PROFESIOGRAMAS)
  # ==========================================
  /api/v1/perfiles/generar:
    post:
      summary: Generar Borrador de Profesiograma mediante IA (AgentePerfil)
      description: Dispara el trigger asíncrono hacia n8n para estructurar el perfil. Responde 202 Accepted.
      tags:
        - Perfiles
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - solicitudId
              properties:
                solicitudId:
                  type: integer
      responses:
        '202':
          description: Proceso de generación iniciado en n8n.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'

  /api/v1/perfiles/{id}:
    get:
      summary: Consultar un Profesiograma y sus Versiones
      tags:
        - Perfiles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Profesiograma obtenido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerfilResponseDto'

  /api/v1/perfiles/{id}/aprobar:
    post:
      summary: Aprobar Profesiograma (Analista RRHH)
      description: Transita el perfil a 'Aprobado', haciéndolo elegible para abrir vacantes activas.
      tags:
        - Perfiles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Perfil aprobado.

  /api/v1/perfiles/{id}/observar:
    post:
      summary: Observar y Devolver Profesiograma a Edición
      description: Transita el perfil a 'Observado' con justificación escrita para reajustes de la IA o el usuario.
      tags:
        - Perfiles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - justificacion
              properties:
                justificacion:
                  type: string
      responses:
        '200':
          description: Perfil observado y retornado.

  # ==========================================
  # DOMINIO: VACANTES
  # ==========================================
  /api/v1/vacantes:
    post:
      summary: Crear una Vacante a partir de Solicitud y Perfil Aprobados
      description: Inicializa la vacante en estado 'Creada'.
      tags:
        - Vacantes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacanteCreateDto'
      responses:
        '201':
          description: Vacante registrada física y lógicamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacanteResponseDto'
    get:
      summary: Consultar Listado de Vacantes
      tags:
        - Vacantes
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Lista de vacantes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedVacantesResponseDto'

  /api/v1/vacantes/{id}/publicar:
    post:
      summary: Publicar Vacante en Canales (LinkedIn, Web)
      description: Transita la vacante a 'Publicada'. Dispara el Agente de Sourcing en n8n de forma asíncrona.
      tags:
        - Vacantes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - canalIds
              properties:
                canalIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Vacante publicada e integraciones externas gatilladas.

  /api/v1/vacantes/{id}/cerrar:
    post:
      summary: Cerrar Vacante (Posición Cubierta)
      description: Transita la vacante a 'Cerrada' tras seleccionar un postulante ganador. Detiene el SLA de Cobertura.
      tags:
        - Vacantes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - postulanteContratadoId
              properties:
                postulanteContratadoId:
                  type: integer
      responses:
        '200':
          description: Vacante cerrada exitosamente.

  /api/v1/vacantes/{id}/cancelar:
    post:
      summary: Cancelar Vacante
      description: Requiere registrar un motivo del catálogo de motivos de cancelación en base de datos.
      tags:
        - Vacantes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - motivoCancelacionCodigo
              properties:
                motivoCancelacionCodigo:
                  type: string
      responses:
        '200':
          description: Vacante cancelada y liberada.

  # ==========================================
  # DOMINIO: POSTULANTES
  # ==========================================
  /api/v1/postulantes/registro:
    post:
      summary: Registrar Postulante e Iniciar Parsing de CV (n8n Webhook / Frontend)
      description: |
        Registra datos iniciales y dispara el parsing asíncrono del PDF/Docx del CV.
        * **Seguridad (Rate Limiting):** Este endpoint público está protegido con un límite de tasa de 10 peticiones por minuto por dirección IP de origen para evitar abuso de almacenamiento e inferencia de IA.
      tags:
        - Postulantes
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostulanteRegistroRequestDto'
      responses:
        '202':
          description: Postulante registrado. Carga del CV recibida, parsing asíncrono iniciado en n8n.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/postulantes:
    get:
      summary: Listar Postulantes Registrados
      tags:
        - Postulantes
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: vacanteId
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Listado obtenido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPostulantesResponseDto'

  /api/v1/postulantes/{id}:
    get:
      summary: Obtener Expediente Completo del Postulante
      description: Retorna perfil, texto de CV parseado y puntajes de Scoring de la IA (anonimizados o completos según rol).
      tags:
        - Postulantes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Expediente retornado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostulanteExpedienteDto'

  /api/v1/postulantes/{id}/estado:
    put:
      summary: Cambiar Estado del Postulante en el Pipeline (Transición Manual)
      description: Transita al postulante (ej. de 'Screening' a 'Entrevista', o 'Descartado'). Exige justificación si es descarte.
      tags:
        - Postulantes
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nuevoEstadoId
              properties:
                nuevoEstadoId:
                  type: integer
                motivoDescarteCodigo:
                  type: string
                justificacionText:
                  type: string
      responses:
        '200':
          description: Estado del postulante actualizado y auditado en StateHistory.

  # ==========================================
  # DOMINIO: ENTREVISTAS
  # ==========================================
  /api/v1/entrevistas/programar:
    post:
      summary: Programar Entrevista (Gatilla reserva en Outlook y enlace de Teams vía n8n)
      description: Registra la cita y gatilla la llamada de integración asíncrona hacia Microsoft Graph API.
      tags:
        - Entrevistas
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntrevistaProgramarDto'
      responses:
        '201':
          description: Registro de entrevista creado, agendamiento iniciado.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'

  /api/v1/entrevistas/{id}/confirmar:
    post:
      summary: Confirmar Asistencia a Entrevista (Postulante / n8n Callback)
      description: Marca la entrevista como 'Confirmada' y desactiva las alertas de recordatorio.
      tags:
        - Entrevistas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Cita confirmada.

  /api/v1/entrevistas/{id}/reprogramar:
    post:
      summary: Reprogramar Entrevista (Máximo 3 permitidas por SLA)
      tags:
        - Entrevistas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nuevaFechaHora
                - justificacion
              properties:
                nuevaFechaHora:
                  type: string
                  format: date-time
                justificacion:
                  type: string
      responses:
        '200':
          description: Cita reprogramada en base de datos y Outlook.

  /api/v1/entrevistas/{id}/cancelar:
    post:
      summary: Cancelar Cita de Entrevista
      tags:
        - Entrevistas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - justificacion
              properties:
                justificacion:
                  type: string
      responses:
        '200':
          description: Cita anulada, bloque liberado en Microsoft Graph.

  # ==========================================
  # DOMINIO: OFERTAS
  # ==========================================
  /api/v1/ofertas/generar:
    post:
      summary: Generar Propuesta de Oferta Económica (RRHH)
      description: Inicializa la propuesta en estado 'Borrador'. Requiere registrar la banda salarial de la vacante.
      tags:
        - Ofertas
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfertaCreateDto'
      responses:
        '201':
          description: Propuesta registrada.

  /api/v1/ofertas/{id}/aprobar:
    post:
      summary: Aprobar Propuesta de Oferta (Decisor de Área)
      description: Firma electrónica de aprobación de la propuesta. Transita a 'Aprobada'.
      tags:
        - Ofertas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Oferta aprobada por el responsable.

  /api/v1/ofertas/{id}/enviar:
    post:
      summary: Enviar Oferta al Postulante (SMTP / Correo Electrónico)
      description: Cambia estado a 'Enviada' y envía PDF estructurado vía n8n.
      tags:
        - Ofertas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Oferta despachada.

  /api/v1/ofertas/{id}/aceptar:
    post:
      summary: Registrar Aceptación de Oferta por el Candidato
      description: Transita al postulante a la fase final de contratación.
      tags:
        - Ofertas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Aceptación registrada.

  /api/v1/ofertas/{id}/rechazar:
    post:
      summary: Registrar Rechazo de Oferta
      description: Registra el rechazo y requiere archivar el motivo del catálogo de descarte.
      tags:
        - Ofertas
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - motivoDescarteCodigo
              properties:
                motivoDescarteCodigo:
                  type: string
      responses:
        '200':
          description: Rechazo registrado, postulante descartado.

  # ==========================================
  # DOMINIO: CONTRATACIÓN
  # ==========================================
  /api/v1/contrataciones:
    post:
      summary: Registrar Inicio del Proceso de Contratación
      tags:
        - Contratación
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContratacionCreateDto'
      responses:
        '201':
          description: Contratación inicializada, checklist de documentos generado.

  /api/v1/contrataciones/{id}/finalizar:
    post:
      summary: Finalizar Proceso de Contratación y Alta de Ficha
      description: Cierra el expediente y guarda la fecha efectiva de ingreso del nuevo empleado.
      tags:
        - Contratación
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contratación finalizada con éxito.

  # ==========================================
  # DOMINIO: AGENDA
  # ==========================================
  /api/v1/agenda:
    get:
      summary: Consultar Agenda Consolidada
      description: Retorna la lista de citas de entrevistas programadas para un periodo de tiempo.
      tags:
        - Agenda
      security:
        - BearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Eventos de agenda obtenidos.

  # ==========================================
  # DOMINIO: REPORTERÍA (DASHBOARDS)
  # ==========================================
  /api/v1/reportes/dashboard/ejecutivo:
    get:
      summary: Obtener Métricas del Dashboard Ejecutivo de Dirección
      description: Exclusivo para Decisor, RRHH y Auditor. Retorna Time-to-Fill, Offer Acceptance Rate y costos acumulados de tokens de IA.
      tags:
        - Reportes
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Datos consolidados del dashboard ejecutivo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutiveDashboardResponseDto'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/reportes/dashboard/reclutamiento:
    get:
      summary: Obtener Métricas Operativas de Reclutamiento
      tags:
        - Reportes
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Datos del pipeline operativo.

  /api/v1/reportes/dashboard/sla:
    get:
      summary: Obtener Heatmap y Estado de SLAs Críticos
      tags:
        - Reportes
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Indicadores de cumplimiento de SLA por área y proceso.

  # ==========================================
  # DOMINIO: AUDITORÍA (SOLO LECTURA)
  # ==========================================
  /api/v1/auditoria/logs:
    get:
      summary: Consultar Bitácora Transaccional Inmutable (AuditLog)
      description: Exclusivo para los roles 'Auditor' y 'Administrador'.
      tags:
        - Auditoría
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Logs de auditoría obtenidos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAuditLogsResponseDto'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/auditoria/estados:
    get:
      summary: Consultar Bitácora de Transiciones (StateHistory)
      tags:
        - Auditoría
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Bitácora de transiciones obtenida.

  /api/v1/auditoria/agentes:
    get:
      summary: Consultar Telemetría e Inferencia de Agentes de IA (AgentExecution)
      description: Registra inputs, outputs, prompts y costos financieros de las inferencias.
      tags:
        - Auditoría
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Telemetría de IA obtenida.

  # ==========================================
  # DOMINIO: CONFIGURACIÓN Y PARAMETRIZACIÓN
  # ==========================================
  /api/v1/config/catalogos:
    get:
      summary: Consultar Catálogos del Sistema (Cero Hardcoding)
      tags:
        - Configuración
      parameters:
        - name: catalogoNombre
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Parámetros del catálogo cargados de manera dinámica.

  /api/v1/config/slas:
    get:
      summary: Consultar Parámetros de SLAs
      tags:
        - Configuración
      security:
        - BearerAuth: []
      responses:
        '200':
          description: SLAs configurados en base de datos.

  # ==========================================
  # DOMINIO: CALLBACKS DE INTEGRACIÓN (n8n ──> .NET 8)
  # ==========================================
  /api/v1/callbacks/solicitud-consistencia:
    post:
      summary: Callback del AgenteSolicitud (Idempotente)
      description: |
        Endpoint asíncrono invocado por n8n para retornar la validación de consistencia del requerimiento de personal.
        Protegido por el middleware de idempotencia y validación del CorrelationId.
      tags:
        - Callbacks n8n
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - solicitudId
                - esConsistente
                - observaciones
              properties:
                solicitudId:
                  type: integer
                esConsistente:
                  type: boolean
                observaciones:
                  type: string
      responses:
        '200':
          description: Callback recibido y procesado (o duplicado filtrado).
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationIdHeader'
        '202':
          description: Callback en procesamiento.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/v1/callbacks/perfil-creacion:
    post:
      summary: Callback de Creación de Perfil por IA (Idempotente)
      description: Retorna el snapshot estructurado del profesiograma del cargo generado por el AgentePerfil.
      tags:
        - Callbacks n8n
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - solicitudId
                - profesiogramaRawJson
              properties:
                solicitudId:
                  type: integer
                profesiogramaRawJson:
                  type: string
      responses:
        '200':
          description: Callback procesado con éxito.

  /api/v1/callbacks/cv-parsing:
    post:
      summary: Callback de Parsing de CV por IA
      description: Recibe los datos curriculares estructurados obtenidos tras el parsing del archivo.
      tags:
        - Callbacks n8n
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - postulanteId
                - parsedTextCV
                - skillsDetectados
              properties:
                postulanteId:
                  type: integer
                parsedTextCV:
                  type: string
                skillsDetectados:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Parsing guardado.

  /api/v1/callbacks/scoring:
    post:
      summary: Callback del AgenteScoring (Evaluación e Idoneidad)
      description: Retorna las notas de adecuación del candidato respecto a la vacante e inyecta la justificación y explicabilidad.
      tags:
        - Callbacks n8n
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - postulanteId
                - vacanteId
                - scoreGeneral
                - scoreTecnico
                - scoreExperiencia
                - scoreCultural
                - explicabilidadDetalle
              properties:
                postulanteId:
                  type: integer
                vacanteId:
                  type: integer
                scoreGeneral:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreTecnico:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreExperiencia:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreCultural:
                  type: integer
                  minimum: 0
                  maximum: 100
                explicabilidadDetalle:
    post:
      summary: Callback del AgenteScoring (Evaluación e Idoneidad)
      description: Retorna las notas de adecuación del candidato respecto a la vacante e inyecta la justificación y explicabilidad.
      tags:
        - Callbacks n8n
      security:
        - ApiKeyAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - postulanteId
                - vacanteId
                - scoreGeneral
                - scoreTecnico
                - scoreExperiencia
                - scoreCultural
                - explicabilidadDetalle
              properties:
                postulanteId:
                  type: integer
                vacanteId:
                  type: integer
                scoreGeneral:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreTecnico:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreExperiencia:
                  type: integer
                  minimum: 0
                  maximum: 100
                scoreCultural:
                  type: integer
                  minimum: 0
                  maximum: 100
                explicabilidadDetalle:
                  type: string
      responses:
        '200':
          description: Notas de idoneidad registradas e inyectadas al expediente.

  # ==========================================
  # DOMINIO: APIS INTERNAS (n8n)
  # ==========================================
  /api/internal/solicitudes:
    get:
      summary: Listar Solicitudes de Reclutamiento (Bitácora Interna)
      tags:
        - Internal APIs
      parameters:
        - name: requestedByUserId
          in: query
          required: false
          schema:
            type: integer
          description: Filtrar solicitudes creadas por el ID del usuario solicitante.
        - name: solicitanteId
          in: query
          required: false
          schema:
            type: integer
          description: Alias equivalente a requestedByUserId.
      responses:
        '200':
          description: Listado obtenido con éxito.
    post:
      summary: Crear Solicitud de Reclutamiento
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '201':
          description: Solicitud creada.
  /api/internal/solicitudes/{id}/resumen:
    put:
      summary: Recepción del Resumen de Solicitud generado por IA
      description: Guarda o actualiza el resumen estructurado en la tabla SolicitudResumenes.
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la Solicitud.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitudResumenRequestDto'
      responses:
        '200':
          description: Resumen guardado/actualizado con éxito.
        '400':
          description: Petición inválida.
        '403':
          description: Permisos insuficientes.
        '404':
          description: Solicitud no encontrada.
  /api/internal/solicitudes/{id}/aprobar:
    post:
      summary: Aprobar Solicitud de Reclutamiento
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Solicitud aprobada con éxito.
  /api/internal/solicitudes/{id}/rechazar:
    post:
      summary: Rechazar Solicitud de Reclutamiento
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Solicitud rechazada con éxito.
  /api/internal/observaciones:
    post:
      summary: Registrar Observación/Comentario de Solicitud
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Observación registrada.
  /api/internal/perfiles/generar:
    post:
      summary: Disparar Generación de Profesiograma por IA
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '202':
          description: Solicitud de generación aceptada.
  /api/internal/perfiles/callback-creacion:
    post:
      summary: Callback de Creación del Profesiograma por IA
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Profesiograma creado con éxito.
  /api/internal/estrategias:
    get:
      summary: Consultar Estrategias y Canales de Búsqueda Activos
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
  /api/internal/vacantes:
    get:
      summary: Listar Vacantes de Empleo Activas
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
  /api/internal/eventos:
    get:
      summary: Consultar Historial de Eventos e Hitos
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
  /api/internal/notificaciones:
    get:
      summary: Consultar Bitácora de Notificaciones Enviadas
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
  /api/internal/auditoria:
    get:
      summary: Consultar Logs de Auditoría Operativa
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.


  /api/internal/vacancy-requests:
    get:
      summary: Listar solicitudes con filtros (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VacancyRequestResponseDto'
    post:
      summary: Crear solicitud (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      responses:
        '201':
          description: Solicitud creada con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyRequestResponseDto'
  /api/internal/vacancy-requests/{id}:
    get:
      summary: Obtener solicitud por id (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Solicitud encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyRequestResponseDto'
    patch:
      summary: Actualizar solicitud parcial (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Solicitud actualizada con éxito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyRequestResponseDto'
  /api/internal/vacancy-requests/by-code/{code}:
    get:
      summary: Obtener solicitud por codigo (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Solicitud encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyRequestResponseDto'
  /api/internal/vacancy-request-observations/{id}/response:
    post:
      summary: Responder observacion (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Respuesta registrada.
  /api/internal/agent-events:
    get:
      summary: Listar agent events por correlationId (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Listado obtenido con éxito.
    post:
      summary: Crear agent event (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      responses:
        '201':
          description: Evento creado con éxito.
  /api/internal/agent-events/{id}:
    get:
      summary: Obtener agent event por id (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Evento encontrado.
  /api/internal/postulantes-externos:
    post:
      summary: Registrar Postulante Externo (n8n/IA)
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '201':
          description: Postulante externo registrado exitosamente.
  /api/internal/postulantes-internos:
    post:
      summary: Registrar Postulante Interno (n8n/IA)
      tags:
        - Internal APIs
      security:
        - InternalApiKeyAuth: []
      responses:
        '201':
          description: Postulante interno registrado exitosamente.
  /api/internal/ws-sessions:
    post:
      summary: Crear/Actualizar WhatsApp Session (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      responses:
        '200':
          description: Sesión creada/actualizada con éxito.
  /api/internal/ws-sessions/{normalizedIdentifier}:
    get:
      summary: Obtener WhatsApp Session por Identificador (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: normalizedIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: incluirEtapa
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Si es true, retorna el objeto etapaUsuario con el resumen y estado de solicitudes/perfiles del usuario.
      responses:
        '200':
          description: Sesión encontrada.
    put:
      summary: Reemplazar WhatsApp Session (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: normalizedIdentifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sesión reemplazada con éxito.
    patch:
      summary: Actualizar Parcial WhatsApp Session (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: normalizedIdentifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sesión actualizada con éxito.
    delete:
      summary: Eliminar WhatsApp Session (n8n/Legacy)
      tags:
        - Internal APIs (Legacy/n8n)
      security:
        - InternalApiKeyAuth: []
      parameters:
        - name: normalizedIdentifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sesión eliminada con éxito.

components:
  # ==========================================
  # ESQUEMAS DE SEGURIDAD (SECURITY SCHEMES)
  # ==========================================
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Ingresar el token JWT provisto tras el inicio de sesión.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Token secreto asignado exclusivamente a los workflows de n8n.
    InternalApiKeyAuth:
      type: apiKey
      in: header
      name: X-Internal-Api-Key
      description: API Key interna obligatoria para la autenticación de workflows automatizados (Canal 2).

  # ==========================================
  # CABECERAS COMUNES (HEADERS)
  # ==========================================
  headers:
    CorrelationIdHeader:
      description: ID unificada para la trazabilidad y rastreo de logs extremos de la petición.
      schema:
        type: string
        format: uuid

  # ==========================================
  # PARÁMETROS COMUNES (PARAMETERS)
  # ==========================================
  parameters:
    PageNumber:
      name: page
      in: query
      required: false
      description: Número de página (1-indexed).
      schema:
        type: integer
        default: 1
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Cantidad de registros por página.
      schema:
        type: integer
        default: 10
    SearchQuery:
      name: q
      in: query
      required: false
      description: Término de búsqueda general.
      schema:
        type: string

  # ==========================================
  # RESPUESTAS COMUNES (RESPONSES)
  # ==========================================
  responses:
    BadRequestError:
      description: Petición inválida o error sintáctico en DTO.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'
    UnauthorizedError:
      description: Autenticación ausente o inválida.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'
    ForbiddenError:
      description: Permisos insuficientes (Falla de autorización RBAC).
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'
    NotFoundError:
      description: El recurso solicitado no existe.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'
    InternalServerError:
      description: Error no controlado en el servidor.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'
    TooManyRequestsError:
      description: Límite de peticiones excedido (Too Many Requests). Máximo 10 peticiones por minuto por IP.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Cantidad máxima de peticiones autorizadas por ventana (10).
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Cantidad de peticiones disponibles restantes en la ventana actual.
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Segundos restantes para que la ventana de límite de tasa se restablezca.
        X-Correlation-ID:
          $ref: '#/components/headers/CorrelationIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorDto'

  # ==========================================
  # ESQUEMAS DE DATOS (SCHEMAS / DTOS)
  # ==========================================
  schemas:
    # DTOS: Autenticación
    LoginRequestDto:
      type: object
      required:
        - correo
        - clave
        - tipoAutenticacion
      properties:
        correo:
          type: string
          format: email
        clave:
          type: string
        tipoAutenticacion:
          type: string
          enum: [Local, ActiveDirectory]
    LoginResponseDto:
      type: object
      properties:
        token:
          type: string
          description: Token de acceso JWT (expiración corta).
        expiraEnSegundos:
          type: integer
        usuario:
          $ref: '#/components/schemas/UsuarioResponseDto'
        mfaRequerido:
          type: boolean
    TokenRefreshRequestDto:
      type: object
      required:
        - tokenExpirado
        - refreshToken
      properties:
        tokenExpirado:
          type: string
        refreshToken:
          type: string
    MfaVerifyRequestDto:
      type: object
      required:
        - correo
        - codigoOtp
      properties:
        correo:
          type: string
          format: email
        codigoOtp:
          type: string
          minLength: 6
          maxLength: 6
    ChangePasswordRequestDto:
      type: object
      required:
        - claveActual
        - nuevaClave
      properties:
        claveActual:
          type: string
        nuevaClave:
          type: string
          minLength: 8

    # DTOS: Usuarios
    UsuarioCreateDto:
      type: object
      required:
        - correo
        - nombres
        - tipoAutenticacion
      properties:
        correo:
          type: string
          format: email
        nombres:
          type: string
        tipoAutenticacion:
          type: string
          enum: [Local, ActiveDirectory]
        clave:
          type: string
          minLength: 8
    UsuarioUpdateDto:
      type: object
      properties:
        nombres:
          type: string
        activo:
          type: boolean
    UsuarioResponseDto:
      type: object
      properties:
        usuarioId:
          type: integer
        correo:
          type: string
          format: email
        nombres:
          type: string
        tipoAutenticacion:
          type: string
        activo:
          type: boolean
    RolResponseDto:
      type: object
      properties:
        rolId:
          type: integer
        nombre:
          type: string
        descripcion:
          type: string
    PagedUsuariosResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UsuarioResponseDto'
        totalCount:
          type: integer
        pageNumber:
          type: integer
        totalPages:
          type: integer

    # DTOS: Solicitudes
    SolicitudCreateDto:
      type: object
      required:
        - cargoCodigo
        - areaCodigo
        - gerenciaCodigo
        - unidadesCodigo
        - tipoVacanteCodigo
        - remuneracionOfrecida
        - justificacion
      properties:
        cargoCodigo:
          type: string
        areaCodigo:
          type: string
        gerenciaCodigo:
          type: string
        unidadesCodigo:
          type: string
        tipoVacanteCodigo:
          type: string
        remuneracionOfrecida:
          type: number
        justificacion:
          type: string
          minLength: 10
    SolicitudUpdateDto:
      type: object
      properties:
        remuneracionOfrecida:
          type: number
        justificacion:
          type: string
    SolicitudResponseDto:
      type: object
      properties:
        solicitudId:
          type: integer
        cargoCodigo:
          type: string
        areaCodigo:
          type: string
        remuneracionOfrecida:
          type: number
        estadoNombre:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        justificacionRechazo:
          type: string
          nullable: true
          description: Mensaje de justificación de rechazo de la solicitud por parte de RRHH (si está en estado SOL-RECH).
        observacionesRrhh:
          type: array
          items:
            $ref: '#/components/schemas/ObservacionResponseDto'
          description: Lista de observaciones detalladas registradas por RRHH para subsanación.
    ObservacionResponseDto:
      type: object
      properties:
        observacionId:
          type: integer
          format: int64
        fecha:
          type: string
          format: date-time
        hora:
          type: string
          description: Hora formateada en HH:mm.
        usuarioRrhhId:
          type: integer
          nullable: true
        usuarioRrhhNombre:
          type: string
        rol:
          type: string
        comentario:
          type: string
        observacion:
          type: string
        campoObservado:
          type: string
          nullable: true
        estadoAsociado:
          type: string
        fechaCreacion:
          type: string
          format: date-time
        fechaModificacion:
          type: string
          format: date-time
          nullable: true
    PagedSolicitudesResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SolicitudResponseDto'
        totalCount:
          type: integer

    # DTOS: Perfiles
    PerfilResponseDto:
      type: object
      properties:
        perfilId:
          type: integer
        solicitudId:
          type: integer
        cargoNombre:
          type: string
        profesiogramaJson:
          type: string
        versionActiva:
          type: integer
        estadoNombre:
          type: string

    # DTOS: Vacantes
    VacanteCreateDto:
      type: object
      required:
        - solicitudId
        - perfilId
        - fechaLimiteCobertura
      properties:
        solicitudId:
          type: integer
        perfilId:
          type: integer
        fechaLimiteCobertura:
          type: string
          format: date
    VacanteResponseDto:
      type: object
      properties:
        vacanteId:
          type: integer
        solicitudId:
          type: integer
        perfilId:
          type: integer
        estadoNombre:
          type: string
        fechaLimiteCobertura:
          type: string
    PagedVacantesResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VacanteResponseDto'
        totalCount:
          type: integer

    # DTOS: Postulantes
    PostulanteRegistroRequestDto:
      type: object
      required:
        - vacanteId
        - correo
        - cvFile
      properties:
        vacanteId:
          type: integer
          description: Identificador de la vacante a la que postula el candidato.
        correo:
          type: string
          format: email
          description: Correo de contacto del postulante.
        cvFile:
          type: string
          format: binary
          description: |
            Archivo del Currículum Vitae del candidato.
            * **Extensiones permitidas:** .pdf, .docx
            * **MIME Types permitidos:** application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document
            * **Tamaño máximo permitido:** 5 MB (5,242,880 bytes)
    PostulanteResponseDto:
      type: object
      properties:
        postulanteId:
          type: integer
        correo:
          type: string
        estadoNombre:
          type: string
        fechaRegistro:
          type: string
    PagedPostulantesResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostulanteResponseDto'
        totalCount:
          type: integer
    PostulanteExpedienteDto:
      type: object
      properties:
        postulanteId:
          type: integer
        correo:
          type: string
        parsedTextCV:
          type: string
        skills:
          type: array
          items:
            type: string
        matchingScore:
          type: integer
        explicabilidadIA:
          type: string
        estadoNombre:
          type: string

    # DTOS: Entrevistas
    EntrevistaProgramarDto:
      type: object
      required:
        - postulanteId
        - vacanteId
        - entrevistadorCorreo
        - fechaHoraProgramacion
        - modalidadCodigo
      properties:
        postulanteId:
          type: integer
        vacanteId:
          type: integer
        entrevistadorCorreo:
          type: string
          format: email
        fechaHoraProgramacion:
          type: string
          format: date-time
        modalidadCodigo:
          type: string

    # DTOS: Ofertas
    OfertaCreateDto:
      type: object
      required:
        - postulanteId
        - vacanteId
        - salarioOfrecido
        - fechaValidezOferta
      properties:
        postulanteId:
          type: integer
        vacanteId:
          type: integer
        salarioOfrecido:
          type: number
        fechaValidezOferta:
          type: string
          format: date

    # DTOS: Contratación
    ContratacionCreateDto:
      type: object
      required:
        - postulanteId
        - vacanteId
        - fechaEfectivaIngreso
      properties:
        postulanteId:
          type: integer
        vacanteId:
          type: integer
        fechaEfectivaIngreso:
          type: string
          format: date

    # DTOS: Reportes e Historiales
    ExecutiveDashboardResponseDto:
      type: object
      properties:
        tiempoPromedioCoberturaDias:
          type: number
        tasaAceptacionOfertasPorcentaje:
          type: number
        costoAcumuladoTokensIA:
          type: number
        alertasSlaCriticasCount:
          type: integer
    StateHistoryResponseDto:
      type: object
      properties:
        historyId:
          type: integer
        entidadId:
          type: integer
        estadoAnterior:
          type: string
        estadoNuevo:
          type: string
        cambiadoPor:
          type: string
        fechaCambio:
          type: string
          format: date-time
        justificacion:
          type: string

    # DTOS: Auditoría y Errores
    AuditLogResponseDto:
      type: object
      properties:
        logId:
          type: integer
        usuario:
          type: string
        rol:
          type: string
        fecha:
          type: string
        accion:
          type: string
        entidad:
          type: string
        correlationId:
          type: string
          format: uuid
    PagedAuditLogsResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResponseDto'
        totalCount:
          type: integer
    InconsistenciaDto:
      type: object
      required:
        - campo
        - detalle
      properties:
        campo:
          type: string
        detalle:
          type: string
    SolicitudResumenRequestDto:
      type: object
      required:
        - captureState
        - recommendation
        - agenteName
        - agenteVersion
      properties:
        profileSummary:
          type: string
        captureState:
          type: string
          enum: [PARCIAL, COMPLETO]
        captureConfidence:
          type: number
        recommendation:
          type: string
          enum: [APROBAR_REVISION, OBSERVAR, RECHAZAR_DATOS_INSUFICIENTES]
        missingFields:
          type: array
          items:
            type: string
        inconsistencias:
          type: array
          items:
            $ref: '#/components/schemas/InconsistenciaDto'
        agenteName:
          type: string
        agenteVersion:
          type: string
        correlationId:
          type: string
          format: uuid

    ApiErrorDto:
      type: object
      properties:
        Code:
          type: string
          description: Código semántico de error (ej. INVALID_CREDENTIALS, CIRCULAR_DEPENDENCY_DETECTED).
        Message:
          type: string
          description: Mensaje legible de error.
        Detail:
          type: string
          description: Detalles técnicos o de validación de campos.
        CorrelationId:
          type: string
          format: uuid
          description: CorrelationId para rastreo en logs de servidor.

    VacancyRequestResponseDto:
      type: object
      properties:
        id:
          type: integer
        requestCode:
          type: string
        title:
          type: string
        area:
          type: string
        requestedByUsuarioId:
          type: string
        requestedByUserId:
          type: string
        reason:
          type: string
        requestType:
          type: string
        vacancyCount:
          type: integer
        seniority:
          type: string
        mainFunctions:
          type: string
        requiredSkills:
          type: string
        channel:
          type: string
        decisionMaker:
          type: string
        priority:
          type: string
        employmentType:
          type: string
        workMode:
          type: string
        location:
          type: string
        comments:
          type: string
        status:
          type: string
        fechaIdeal:
          type: string
          format: date-time
